@font-face {
  font-family: 'HeadFont';
  src: url('../../fonts/header.ttf');
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0;
}

section {
  padding: 20px 10px;
}

h1,h2,h3,h4,p {
  line-height: 1.42857143;
  color: #000;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'HeadFont', sans-serif;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  font-size:40px;
  letter-spacing: 3px;
}

p { font-size: 14px; }

a {
  color: #000;
}

header{
  position: relative;
  height: 100vh;
  background: #222;
}

header #text-container {
  height: 650px;
  width: 100%;
}

header #text-container #text-content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}

header #text-container h1 {
  transform:rotate(-8deg);
  font-size: 160px;
  color: white;
}

header #text-container h2 {
  font-size: 14px;
  margin-top:70px;
  color: #BBBABA;
}

header i {
  display: block;
  position: absolute;
  bottom: 35px;;
  left: 50%;
  transform: translateX(-50%);
}

header svg .mousedown {
  fill: #BBBABA;
}

.navbar {
  margin:0;
  padding: 0 40px 0 0;
}

.navbar-nav{ float:right; }

.navbar-inverse { border:0px; }


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #e85250;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: rgba(232, 82, 80, 0.76);
  color:white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: rgba(232, 82, 80, 0.76);
  color:white;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: white;
  text-decoration: none;
  background-color: #DACCEF;
}

#about { background-color: #222;}


#about .col-md-6.about-content { padding: 80px 65px; }

.about-content h2,p {
  color: #BBBABA;
}

#logo-box {
  height: 183px;
  width: 159px;
  margin: 150px auto;
  border: 4px solid black;
  text-align: center;
}

#logo-box h1 {
  color: #000;
  line-height: 68px;
  letter-spacing: 4px;
  font-size: 57px;
  margin-top: 11px;
}

#quoteContent {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0 50px 0;
}

#quoteContent h2 {
    font-size: 18px;
    font-weight: 100;
}

#aboutSection {
    padding-top: 0;
}

#aboutSection .row {
    padding: 150px 50px;
    background: whitesmoke;
}

#aboutSection .row #left p {
    font-size: 140px;
    text-align: center;
    letter-spacing: 30px;
}

#aboutSection .row #right h2 {
    font-weight: 100;
    color: #333;
}

#aboutSection .row #right p {
    padding-top: 10px;
    color: #000;
}

#work {
  height: 800px;
}

#work-content {
  width: 90%;
  height: inherit;
  padding: 0 10%;
}

#work-content h2 {
  padding: 10px 5px;
  color: #333;
}

#work-content h4 {
  padding: 15px 5px;
  color: #333;
}

#work-content p {
  padding: 0 5px;
  color: #333;
}

#work-menu-container {
  padding-top: 5%;
}


.cv {
    background: transparent;
    border: 2px solid #e5e5e5;
    color: #d3d3d3;
    font-size: 10px;
    margin-left: 7%;
    margin-top: 3%;
}

#work-menu {
  width: 60%;
}

.skills {
    padding-top: 80px;
}

.portfolio_block img {
    width: 100%;
    height: 100%;
}

#portfolio-text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#portfolio-text h2 {
  padding: 10px 0;
}

#portfolio-text p {
  padding: 5px 0;
  color: #000;
}

div#portfolio-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0 0 0;
}

div#portfolio-container .row {
  height: 666px;
  margin: 45px 0;
}

.row .col-md-3 {
  padding: 0;
  margin: 0;
}

.portfolio_block {
  position: relative;
  width: 100%;
  padding:2.5px;
  cursor: pointer;
}

.portfolio_block.thumb_small {
  height: 222px;
}

.portfolio_block.thumb_big {
  height: 444px;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:20px;
  z-index: 20;
  color: #000;
  opacity:0;
  transition: opacity .2s ease;
  background: rgb(255,255,255);
}

.portfolio_block:hover .overlay{
  top:9px;
  left:9px;
  right:9px;
  bottom:9px;
  opacity: .8;
}

.overlay h3{
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 22;
  transform: translate(-50%,-40%);
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size:18px;
  width: 100%;
  text-align: center;
}

hr.line {
  position: absolute;
  left: 50%;
  top: 43%;
  z-index: 22;
  transform: translate(-50%,-50%);
  font-weight: 200;
  color: #000;
  border-top: 2px solid black;
  width: 40px;
  margin: 15px auto;
}

.overlay p{
  position: absolute;
  left: 50%;
  top: 60%;
  z-index: 22;
  transform: translate(-50%,-60%);
  font-weight: 200;
  color: #000;
}

#contact .row {
    margin-top: 4px;
}

#contact-container {
  padding: 15% 10% 5% 10%;
  text-align: center;
}

#contact-container h1 {
  font-size: 55px;
  padding-bottom: 15px;
}

#contact-container p {
  padding: 10px 10px 0 10px;
  color: #000;
}

.row.icon-container {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
}

#contact-container img.icon-social {
  height: 40px;
  width: 40px;
}

#mail-container {
  width: 90%;
  padding: 5% 10%;
}

#mail-container .input-group { margin: 0 0 15px 0; }

#mail-container button {
  color: #fff;
  background-color: #e85250;
  border: none;
}


.form-group label {
  float: left;
}

.form-group input, textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group input {
  height: 34px;
}

footer {
    background: #333;
    padding: 20px 0;
    height: 80px;
    width: 100%;
    color: #fff;
}

#footer-content p {
    padding-left: 20px;
}
